.showcase {
  display: flex;
  margin: 50px 0;
}

.showcase-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  width: 50%;
}

h1 {
  font-family: Philosopher;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}

.showcase-right {
  background-image: url(../assets/showcase.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 50vh;
}

.showcase-button {
  display: flex;
  gap: 1rem;
}

button {
  padding: 10px;
  border-radius: 5px;
  color: #dc780b;
  font-size: 1rem;
  border: 1px solid #dc780b;
  background-color: #fff;
  width: 10rem;
}

button:hover {
  background-color: #dc780b;
  color: #fff;
}

@media (max-width: 1000px) {
  .showcase-left {
    width: 45%;
  }

  .showcase-right {
    width: 55%;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  .showcase {
    display: flex;
    background-image: url(../assets/showcase.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
  }
  .showcase-left {
    width: 50%;
    margin: 80px auto;
  }

  .showcase-right {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .showcase {
    height: 55vh;
  }
  .showcase-left {
    width: 70%;
    margin: 80px auto;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    padding: 6px;
    font-size: 0.8rem;
    width: 8rem;
  }

  .showcase-button {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

@media (max-width: 450px) {
  .showcase {
    height: 40vh;
  }
  .showcase-left {
    width: 70%;
    margin: 40px auto;
  }

  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 0.6rem;
  }

  button {
    padding: 4px 0;
    font-size: 0.6rem;
    width: 6rem;
  }

  .showcase-button {
    gap: 0.6rem;
  }
}
